<a href="https://colab.research.google.com/github/Maynul-haque/100Exercises-AdvancedPythonProgramming/blob/main/100%2B_Exercises_Advanced_Python_Programming_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Print python version to the console

In [5]:
import sys
print(sys.version.split()[0])

3.7.13

Find the sum of all the numbers that are divisible by 5 or 7 from 0 to 100

In [10]:
def calculate():
    list_numbers = []
    for i in range(0,100): 
      if i % 5 ==0 or i %7 ==0:
        list_numbers.append(i)
    total = sum(list_numbers)
    print(total)
        
calculate()

1580